@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
        /* change the margins as you want them to be. */
   } 
}
div {
  float: right;
  height: 400px;
  width:40px;
}
#column2{
 text-align: center;
}

h1 {
  color: #000000;
  text-align: center;
}
